안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제1]__

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   
<br>

x = 2, n =5

In [ ]:
# 일단 변수 와 대입 하는 수를 가져온다
x = 2
n = 5

# 결과를 담은 빈 리스트를 만든다
result = []

#for 문은 아용 하여
#i 에 range() 숫자의 범위를 만들어주는 함수를 이용하여
#range(1, n +1) 1첫재 범위 부터 n(5) 번째 범위 까지 +1 을 하여 범위를 나타내워
for i in range(1, n +1):
    #result 리스트에 .append 를 사용해 데이터를 저장시켜줘
    #rasult.append 리스트에 업데이트 할것은
    #(i * x) i 에 있는 데이터 와 x 에 2인 갑을 가저와서 곱해줘
    result.append(i * x)
#결과
print(result)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]

---

__[문제2]__

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  
<br>

출력 예) "0101234****"

In [9]:
# 일단 예시를 가저온다
phone_number = "01012347890"

# result 결과에 phone_number전화번로 를슬라이싱을 적용 해서
# 끝 4자리 수를 빼고 ****를 더해서 대입 해줘
result = phone_number[:-4] + "****"

# 결과
print(result)

0101234****

---

__[문제3]__

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [8]:
#def 함수를 만드는 명령어 를 사용하여 함수이름을 정해준다
#주어진 원래 숫자를 출력할것을 () 안에 s 를 넣는다
def word_digit(s):
    wd = {"zero" : '0', "one" : '1', 'two' : '2', 'three' : '3', 'four' : '4',
    'five' : '5', 'six' : '6', 'seven' : '7', 'eight' : '8', 'nine' : '9'}
    #result 와 temp 변수 에 "" 저장할 빈공간을 만든다
    result = ""
    temp = ""
#for 여러번 반복하는 문을 사용해 char 안에 s안에 글자들을 나눠 담는다
    for char in s:
        #if 만약에 char 가 .isdigit 숫자인지 아닌지 확인해줘
        #.isdgit 는 숫자인지 안니지 알려주는 함수레요
        if char.isdigit():
            result += char
        #else 만약 숫자가 아닐시에 tmep 임시에 += char을 더하고 대입 해줘
        else:
            temp += char
            #만약에 temp 임시 안에 wd 영단어 를 적용하고
            if temp in wd:
                #result 리절트 결과 에 += 더하고 대입해줘
                #wd[temp] wd 영단어 에서[temp 임시에 해당하는] 갑을 가저와줘
                result += wd[temp]
                # 실행을 했는데 오류나 나서 보니 temp = "" 추가를 하여 지금까지의 단어 를
                # 새 단어들을 넣기 위해 추가 하여 다시 초기화를 해야한대요
                temp = ""
    #return 리던 돌아가서 함수의 결과를 돌려주는 명령어 를 사용하여
    #result 결과
    return result

#이제 요구하는 s = "77three4one" 값을 s 에 적용시킨다
s = "77three4one"

# word_digit(s) 한수의 반환값을 result 결과 변수에 대입해줘
result = word_digit(s)
print(result)

77341

---

__[문제4]__

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다.

 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [17]:
# 먼저 두 변수 행렬을 가져온다
arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]

# 결과를 담을 빈 리트스를 준비 한다
result = []

# for 반목문을 통해 range(len(arr1))
# len 에게 arr1 몇 줄(행)인지 알려달라 부탁하고
# range() 로 다시 감싸 그 길이만큼 반복한 숫자 번위를 만들어
# a 변수에 넣어 달라고 부탁한다
for a in range(len(arr1)):   # 결과 1이 나옴
    # 처음에 arr3 = [] 를 for s in 밑에 작성후 실행을 했는데
    # 원하는 답이 안나와 답답 했었고 지인 한테 물어봐
    # s 밑에 하면 for a 반복문이 끝나서 들어가지 않는다 할꺼면 for a 밑에 적어야 a 것도 작동 한다 하여 적용
    arr3 = []
    # len 에게 arr1[a]의 한 줄의 칸(열)이 몇개인지 알려달라고 부탁하고
    # range() 로 감싸 그 길이 만큰 반복할 숫자 범위를 만들어서
    # s 변수에 넣어 달라고 부탁한다
    for s in range(len(arr1[a])):
        # arr1[a][s]와 arr2[a][s]는
        # 두 행렬에서 a 줄 s 번재 칸의 앖의 데이터를
        # arr3.append 를 통해 넣는다
        arr3.append(arr1[a][s] + arr2[a][s])


    #리스트또한 .append(arr3) arr3의 데이터를 받아
    result.append(arr3)


#결과 를 출력한다
print(result)

[[4, 6], [7, 9]]

---

__[문제5]__

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [26]:
# def 함수를 만드는 명령어 를 사용하여 harshad이름을 정해준다
# x 는 하샤드의 수인지 확인을 위해 harshad() 안에 x 를 넣는다
def harshad(x):
    # return 은 결과를 돌려주는 문을 사용하여
    # x 는 결과를 반환 받은 값
    # % 나누기를 해서 sum() 을 이용해 x 값을 구한다
    # sum() 은 [int(c)문자열 c 을 숫자로 바꿔주고
    # for c 안에 str(x)] str() 안에 x 를 넣어 리스트를 만든다
    return x % sum([int(c) for c in str(x)]) == 0

#입출력 예시 x 결과값
ex_x = [10, 12, 11, 13]

#for 반복문 을 통해 x 안에 ex_x 데이터를 넣고
for x in ex_x:
    #결과 ex_x : x % sum([int(c) for c in str(x)]) == 0
    print(f"{x}: {harshad(x)}")

10: True
12: True
11: False
13: False

---

__[문제6]__

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

<br>
출력 예) "김서방은 1에 있다"

In [31]:
# 함수문 에 solution(seoul) 이름을 정한다
def solution(seoul):
    #결과 변수 에 식을 저장
    #"김서방은" + str()문자열로 바꾸는 함수 안에
    #.index() 사용하여 (kim)의 숫자를 반환 받는다
    result = "김서방은 " + str(seoul.index("Kim")) + "에 있다"
    # return 을 사용하여 solution(seoul) 에 대입한다
    return result

#요구하는 변수명으로 요구하는 출력 김서방은 1에 있다
seoul = ["Jane", "Kim"]

#결과 출력
print(solution(seoul))

김서방은 1에 있다

---

__[문제7]__

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [35]:
numbers = [5,8,1,0,6,9]

#0 부터 9 까지 숫자를 준비
all_numbers = list(range(10))

print(all_numbers)

#numbers 리스트에 없는 숫자 찾기
missing_numbers = set(all_numbers) - set(numbers)

print(missing_numbers)

#없는 숫자 더하기
result = sum(missing_numbers)

print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
{2, 3, 4, 7}
16