안녕하세요. 수강생 여러분~! Chapter09 ~ 13 수업은 잘 들으셨나요?

Chapter09 ~ 13의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제0]__


오즈 코딩 스쿨 백엔드 8기 과정에 참여한 수강생 중 3명의 수강생이 자율적으로 스터디 그룹을 결성했습니다.

스터디 그룹 내에는 한 주간 배운 내용으로 매주 쪽지 시험을 보는 룰이 있습니다. 점수는 채점자 마음입니다.

쪽지 시험의 점수를 직접 입력받고, 점수의 합을 출력해주세요!


<br>

In [3]:
# 8기 스터디 그룹 학생 변수로 학생들점수 적용
student = [77 , 58 , 99]

#sum 으로 구해줘야 하는 변수의 초깃값을 설정
sum=0

'''
i에 student 의 요소를 넣는다
초기값인 sum에 요소값이 하나씩 반복되는 i 를 더한갑을 넣어준다
'''
for i in student:
  sum += i

print(sum)

234

__[문제1]<br>__

movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.

"비밀"을 "나폴레옹"과 "괴물" 사이에 추가해주세요

<br>

```
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
```

In [16]:
#movie 변수에 서울의 봄 , 나폴레옹 , 괴물 , 배트맨 적용
movie = ['서울의 봄','나폴레옹','괴물','베트맨']

#.insert() 을 이용하여 사이에 비밀을 추가하자
movie.insert(2,'비밀')

#결과
print(movie)

['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']

---

__[문제1-2]<br>__

movie_rank 리스트에서 '베트맨'를 삭제해주세요

<br>

```
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']
```

In [17]:
#movie 변수에 주어진 요소를 적용
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']

#del 명령어를 사용해 '베트맨' 요소를 지운다
del movie[4]

#결과
print(movie)

['서울의 봄', '나폴레옹', '비밀', '괴물']

__[문제2]<br>__

[언어1]과 [언어2] 리스트가 있을 때 언어1과 언어2의 원소를 모두 갖고 있는 [언어모음]이라는 list를 만들어주세요

```lang1 = ["C", "C++", "JAVA"]```<br>
```lang2 = ["Python", "Go", "C#"]```  

<br>
실행 예)
언어들
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [18]:
#언어1 과 언어2 의 원소를 정리
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

#list() 사용하여 [언어모음] 이라는 list를 만들기
언어모음 = list(lang1 + lang2)

#결과
print(언어모음)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

---

__[문제3]<br>__

다음 리스트에서 최댓값과 최솟값, 그리고 평균을 출력해주세요.
<br>

```
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
```

In [32]:
# nums 리스트 가져오기
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]

#평균 값을 구하기 위한 임포트
import numpy

#max() 최댓값 min()최솟값 numpy() 평균값
nums_max = max(nums)         #최댓값
nums_min = min(nums)         #최솟값
nums_mean = numpy.mean(nums) #평균값

#결과
print("최댓값 :", nums_max)
print("최솟값 :", nums_min)
print("평균 :", int(nums_mean))

최댓값 :  10
최솟값 :  1
평균 :  5

---

__[문제4]__

다음 리스트에 저장된 데이터의 개수를 화면에 구해주세요

```cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]```

In [34]:
#저장된 리스트를 가저온다
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]

#len() 에 리스트 변수를 넣어 요소의 개수를 구한다
cook_len = len(cook)

#결과
print("저장된 데이터의 개수 : ", cook_len)

저장된 데이터의 개수 :  8

---

---

__[문제5]__

price 변수에는 날짜와 종가 정보가 저장돼 있습니다.
날짜 정보를 제외하고 가격 정보만을 출력해주세요

```price = ['20180728', 100, 130, 140, 150, 160, 170]```

<br>
출력 예) [100, 130, 140, 150, 160, 170]

In [44]:
#주어진 변수를 가져와서
price = ['20180728', 100, 130, 140, 150, 160, 170]

# 문제 1-2 의 지우기 처럼 del 을 이용하여 0번째의 요소 날짜 정보만 지운다
del price[0]

#결과
print(price)

[100, 130, 140, 150, 160, 170]

---

__[문제6]__

<br>
다음 딕셔너리를 사용하여 메로나 가격을 출력해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

<br>
출력 예) 메로나 가격: 1000

In [56]:
# 딕셔너리를 가져 온다
ice = {'메로나': 1000,
    '폴로포': 1200,
    '빵빠레': 1800,
    '죠스바': 1200,
    '월드콘': 1500}

#list()로 변환을 한다
ice_list = list(ice.items())


#(slicing) 을 이용하여 메로나 가격을 출력한다
ice_list = ice_list[0][1]

print("메로나 가격:", ice_list)

메로나 가격: 1000

---

__[문제6-1]__

다음 딕셔너리에서 메로나의 가격을 1300으로 수정해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

In [51]:
#요소를 불러온다
ice = {'메로나': 1000,
    '폴로포': 1200,
    '빵빠레': 1800,
    '죠스바': 1200,
    '월드콘': 1500}

#딕셔너리 값을 변경 한다
ice['메로나'] = 1300

#결과
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

---

__[문제7]__

아래 순서대로 주어진 수강생 이름과 등급을 하나의 딕셔너리로 만드는 코드를 작성해주세요


names : 나이썬, 김자바, 김씨, 박씨샵  
grades :   B       B      A      C

In [76]:
# 불러올 요소
names = ['나비썬' , '김자바' ,'김씨' , '박씨샵']
grades = ['B' , 'B' , 'A' , 'C']

# dict(zip()) 을 이용하여 병렬처리를 도운다
result = dict(zip(names, grades))

#결과
print(result)

{'나비썬': 'B', '김자바': 'B', '김씨': 'A', '박씨샵': 'C'}

---

__[문제8]__

아래 ice 딕셔너리에 데이터를 추가 후 출력해주세요

ice = {"메로나": [300, 20],  
              "비비빅": [400, 3],  
              "죠스바": [250, 100]}  


추가해야하는 데이터) 이름 : 보석바, 가격:650, 재고:10

In [81]:
#딕겨너리 데이터를 가져오기
ice = {"메로나": [300, 20],
"비비빅": [400, 3],
"죠스바": [250, 100]}

#.update 를 추가해야하는 데이터(보석바, [650, 10]) 추가
ice.update({"보석바":[650, 10]})

#결과
print(ice)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '보석바': [650, 10]}

---

__[문제9]__

아래 딕셔너리에서 key만 list 형태로 출력해주세요

ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [79]:
#보기의 딕셔너리를 가져온다
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

#result 에 list() 리스트로 변환 하는 가로 안에 변수와 key만 가져오는 명령어? 를 넣어 답을 구한다
result = list(ice.keys())

#결과
print(result)

['메로나', '폴로포', '빵빠레', '죠스바', '월드콘']